@charset "UTF-8";

/* 만지면 안돼 */
body{ background:#FFFFFF; margin:0; padding:0;}
article {position: relative; width:97%; margin:0 auto; height:70%; }
#wrap{width:100%; margin:0 auto;}
tr{width:90%; height:49px;}
/* ----------------------------------------- */

.clear {clear: both; }

/* 로그인 --*/


a{text-decoration:none; color:black;}

div#side_buttons{list-style:none;  margin:5% 0; }
div#side_buttons ul li{display:block;  font-size:0.8em; float:left; width:45%;}
div#side_buttons a{text-decoration :none; text-align:center; color:gray; font-weight:light;  }
div#side_buttons .join{font-weight:bold;}

form fieldset {border:none; margin:0 auto; margin-top:3%; width:97%; height:50%;}
.text{ outline: none;  margin:5% 0;  height:10%; 	width:90%; font-size:1.0em;}
div #input1{border-bottom:1px solid #76797D;width:100%; }
form .submit{margin-top:8%;width:90%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:40px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}
form .submit2{margin-top:8%;width:90%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:40px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}

.table3 .active{background-color:green; color:white; font-weight:bold; }

#tabs .active {background-color:#1AB137; color:white; font-weight:bold; }
#tabs li{color:gray;}

#article2 h1, div h1 {font-family: Verdana; font-size: 45px; color: #6F0C78;   margin: 20px 0;   font-weight: normal; }
#article2 { width:97%; padding-right: 10px; font-family: Verdana; font-size:0.8em; line-height: 1.2em; height:90%; margin : 0 auto; margin-right:3%;}

#form2 {width: 97%; border:none; }
#form2 #fieldset2 { padding: 10px 0 10px 5px; width:97%; border:none; margin:0 auto; margin-top:5%; align:center;}
.text2{ outline: none; height:30px; width:85%; font-size:1.0em; }
.text3{ outline: none; height:30px; width:60%; font-size:0.8em; margin-left:0;}

#table2 {margin:0 auto;}

/* 회원정보입력쪽 */

#form2 #fieldset2 #legend2 { font-size: 20px;   border-bottom: 1px dotted #666;   width: 97%;    padding: 5px 0; align:center;}

/* tr{width:97%; height:49px;} */

#form2 #label {width: 20%; text-align:left; margin: 5px 0; border-left:1px #eee solid; vertical-align:middle; }
#form2 #th1{color:#666; background:#f8f8f8; width:20%;}
#form2 #th1{color:#666; width:25%;}
#form2 #selectBox{ cursor:pointer;}
#form2 input { float:left; margin: 0px 0; border: 1px solid #C4C7C8;    background-color: #white; }

#form2 #buttons {position:relative; margin: 20px 0 0 0; }
#form2 .submit, #form2 .cancel {position:relative; height: 40px;   width: 90%;    border: 1px solid #666;
font-size: 17px; background-repeat: repeat-x; background-position:center; color: #FFFFFF; margin: 0 0 0 20px; background-color:#1AB137;}

#form2 #label2 {width:20%;}
#form2 #th3{background:white; width:40%; text-align: center; align:center;}
#form2 #th4{background:white; width:20%; text-align: center; align:center;}

/* #article3 { width: 97%; border:none;
font-family: Verdana; font-size: 1em; line-height: 1.5em; height:90%; margin : 0 auto; } */
article3 { width:97%; padding-right: 10px; font-family: Verdana; font-size: 1em; line-height: 1.5em; height:90%; margin : 0 auto; margin-right:3%;}


#sunghee { height:90%; margin : 0 auto; width:97%; }
#sunghee2 {width:97%;}

.table3 { margin: 0 auto; width:97%; align:center;}
.table3 ul {list-style:none; margin:0 auto; padding:0;}
.table3 ul li{list-style:none; width:48%; float:left;  height:50px; text-align:center; line-height: 250%; font-weight:bold; font-size: 1.2em;}
.table4 {margin:0 auto; margin-left:3%;}
   
form .cancel{margin-top:30px;width:45%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:40px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}


#form2 #th5{width:30%; text-align: center; align:center;}

form .submit3, form .cancel3{margin-top:30px; width:45%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:40px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}

form .submit4, form .cancel4{margin-top:30px; width:45%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:40px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}

form .submit5 {margin-top:30px; margin-left:30px; width:20%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:30px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}
.byeform {margin-top:100px;}

form cancel5 {margin-top:30px;width:20%; background-color:#1AB137; color:#FFFFFF; 
font-weight: bold; font-size:1.1em; height:30px; border:none; border-radius:2%; cursor: pointer; font-family: 'Pretendard-Regular';}
.byeform {margin-top:100px;}

#th6{color:#666; background:#f8f8f8; width:95%;}

#th2{background:white; width:70%;}
#th7{background:white; width:50%;}


#message{position:relative;  margin-bottom:5%;  margin-top:3%; font-weight:bold;}

/* ---------------------- */

#header2{position:fixed; z-index:99; background-color:white; 
	top: 0;
    left: 0;
    right: 0;
	border:none;
	min-width:50%;}
.header_2st{ width:95%; height:50px; position:relation;} 
.header_2st a { text-decoration: none; display:inline-block; width:70px; text-align: center; color:#A5AAAE; font-weight: bold; }
.header_2st a:hover {color: green; font-weight: bold;}
.header_2st #sidemenuIcon{position:absolute; font-size:250%; margin:0.7rem 0 0 5rem;}
#search2 {position:absolute; right:20%; top:15%; display:flex; margin:0;
	border: 1px solid lightgrey;
	height: 20%;
	padding: 2% 3%;
	width:30%; }
#serch2 form{ height:40px;}
#search2 input{height:0%; width:auto; font-size:1.4em; line-height:0%; flex: 1;  outline:none; width:95%; border:none; padding:0; font-family:'Pretendard-Regular';font-weight:bold;}
#productSearchIcon2 { position:absolute; font-size:3em; top:20%; right:5%; cursor: pointer; float:right; }
.header_2st #cartIcon2{position:absolute; font-size:4.0em; right:5%; top:20%; z-index:100}

#logo2{margin: 0.7rem 0 0 5rem;
    display:inline-block;}
#logo2 img{height:100%;}

#category2{float:left}
.header2_3rd{margin:10px 0;}
.header2_3rd ul li{ display:inline-block; width:85px; height:30px; font-size:1.2em; }
.header2_3rd a {position:relative; text-decoration :none; display:inline-block; width:85px; height:30px; text-align:center; color:black; font-weight:bold; }
.header2_3rd a:hover{ color:green; top:1px;}
