@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ▶ ▶ ▶ ▶ ▶ 관리자 전용 css 입니다 ◀ ◀ ◀ ◀ ◀ */

body{ background:#FFFFFF; margin:0; padding:0; font-size:13px; width:1290px; }
#wrap{  width:1200px; margin:0 auto; font-family:'Pretendard-Regular';}
#mypageArticle2 {display:table-cell; width:100%; margin:0 auto; height:500px; padding-top:25px;}

.clear {clear: both; }

/* 관리자 테이블 속성 */
#tableContainer tr{ height:49px; }
#tableContainer th{color:#666; background:#f8f8f8;}
#tableContainer td{border-bottom:1px solid lightgrey;}
#tableContainer{position:relative; display:table-cell; width:980px; padding:0 0 40px;  border-collapse: collapse}
#tableContainer a{text-decoration:none; color:black; font-weight:bold;}

/* 헤더 */
#logo{display:block;  text-align:center; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;}
#logo img{  width:150px;}


/* mypage 사이드메뉴 */
#sideMenu {float:left; margin:50px 20px 0 0; width:200px; padding:0 0 40px;}
#sideMenu ul{list-style:none; font-family:'Pretendard-Regular'; text-decoration: none; padding:10px;}
#sideMenu ul a{text-decoration: none; color:black; }
#sideMenu h3{border-bottom:1px solid lightgrey; margin:10px 0 10px 0;  padding-bottom:10px;}
#sideMenu #mypage{font-weight:bold; font-size:1.5em; margin:0;}
#sideMenu #menu a{font-size:1.2em;}
#sideMenu #menu a:hover{position:relative; color:black; left:5px; font-weight:bold; transition-duration:0.4;}

#orderListSelect{font-family: 'Pretendard-Regular';}

/* footer */
footer { text-align:left; width:1200px; }
div#footer_b ul li{display:block; float:left; font-size:13px;}
div#footer_b a{ text-decoration:none; display:inline-block; width:115px;
	text-align:center; color:#76797D; font-weight:bold; }
div#footer_img{position:absolute; margin-top:1px; margin-left:880px; float:right; }

span.f_title{color:#76797D;}
span.f_title2{color:#4C4E50;}

div#hr{border-bottom:1.5px solid black;}


/* 민지님 추가 */
#e3{position:relative;  margin-left:2px; width:1200px; margin:0 auto;  margin-top:30px; height:7330px;}
#agreement{ font-size:14px; line-height:23px;}



#company2{ font-size:50px; 
background: no-repeat;  position:relative;
background-image:url("../images/agreement.jpg"); height:300px; }
/*background-postion:right;*/


#e4{position:relative;  margin-left:2px; width:1200px; margin:0 auto;  margin-top:30px; height:1800px;}
.privacy{ line-height:24px;  font-size:14px;}